*
!.gitignore
!Makefile
!README.md
!init/
!init/Makefile
!init/init.c
!init/init.h
!kernel-extractor/
!kernel-extractor/Makefile
!kernel-extractor/kernel-extractor.c
!pack-kernel.sh
!predist/
!predist/etc/
!predist/etc/cfg/
!predist/etc/cfg/telnetd
!predist/etc/group
!predist/etc/passwd
!predist/etc/shadow
!predist/etc/svclogger
!predist/etc/svc.d/
!predist/etc/svc.d/telnetd/
!predist/etc/svc.d/telnetd/run
!predist/etc/svc.d/telnetd/check
!unpack-kernel.sh
